//- layout.pug
html
  head
    title Mohit dance academy
    block scripts
    block style
    
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | MDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        copyright Copyright &#169 2019 MohitDanceacademy.com | All Right Reserved.    